﻿<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <table id="table" class="table">
            <thead>
                <tr>
                    <th>Nama</th>
                    <th>Gender</th>
                    <th>Hobi</th>
                    <th>Umur</th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>
        <div class="text-center">
            <button id="btn-generate" class="btn btn-success">Generate Data</button>
            <button id="btn-submit" class="btn btn-primary" disabled>Submit</button>
        </div>
    </div>
    <script>
        function generatePersonals() { 
            var tbody = $("#table").find("tbody");
            $.ajax({
                url: 'https://localhost:44323/GeneratePersonals',
                method: 'GET',
                dataType: 'json',
                success: function (data) {
                    console.log(data);
                    data.forEach(item => {
                        tbody.append(`<tr  data-item='${JSON.stringify(item)}'>
                                <td>${item.nama}</td>
                                <td>${item.idGender}</td>
                                <td>${item.idHobi}</td>
                                <td>${item.umur}</td>
                            </tr>`);
                    });

                },
                error: function (xhr, status, error) {
                    // Handle errors
                    console.error('There was a problem with the AJAX request:', error);
                }
            });
        }

        $("#btn-generate").on("click", function () {
            generatePersonals();
            $("#btn-submit").attr("disabled", false);
        });

        $("#btn-submit").on("click", function () {
            var dataItems = [];
            $("#table tbody tr").each(function () {
                var dataItem = $(this).attr("data-item");
                dataItems.push(JSON.parse(dataItem));
            });
            var jsonData = JSON.stringify(dataItems);


            $.ajax({
                url: '/AddPersonals',
                method: 'POST',
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                data: jsonData,
                success: function (response) {
                    console.log(response);
                    $("#table tbody").empty();
                    // Handle success response
                },
                error: function (xhr, status, error) {
                    console.error('Error:', error);
                    // Handle error response
                }
            });


        });




        
    </script>
</body>
</html>
