﻿<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script>


    $.ajax({
        url: 'https://localhost:44323/GeneratePersonals',
        method: 'GET',
        dataType: 'json',
        success: function (data) {
            // Handle the data returned from the server
            console.log(data);
        },
        error: function (xhr, status, error) {
            // Handle errors
            console.error('There was a problem with the AJAX request:', error);
        }
    });

    alert("test");

</script>
